spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: false
        format_sql: false
        use_sql_comments: false
        hbm2ddl:
          auto: update
        default_batch_fetch_size: 1000
    database: mysql

  sql:
    init:
      mode: never

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  data:
    redis:
      repositories:
        enabled: false

server:
  timezone: Asia/Seoul

logging:
  level:
    agridata.spring.controller: INFO
    agridata.spring.service: INFO
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql: ERROR

kamis:
  api-key: ${KAMIS_API_KEY}
  cert-id: ${KAMIS_CERT_ID}
